[submodule "babel-helper-extension-repo"]
	path = babel-helper-extension-repo
	url = https://github.com/Nominy/babel-helper-extension.git
[submodule "reviewer/review-backend"]
	path = reviewer/review-backend
	url = https://github.com/Nominy/review-backend
[submodule "reviewer/review-interceptor-extension"]
	path = reviewer/review-interceptor-extension
	url = https://github.com/Nominy/review-extension
[submodule "drafting/gold-drafting-extension"]
	path = drafting/gold-drafting-extension
	url = https://github.com/Nominy/babel-gold-drafting-extension.git
[submodule "shared/babel-extension-platform"]
	path = shared/babel-extension-platform
	url = https://github.com/Nominy/babel-extension-platform.git
	branch = main
